@font-face {
  font-family: "Flame";
  font-style: normal;
  font-weight: 400;

  /* Браузер сначала попробует найти шрифт локально */
  src: local("Flame"),
    /* Если не получилось, загрузит woff2 */
    url("./fonts/Flame-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Flame";
  font-style: normal;
  font-weight: 700;

  src: local("Flame"),

    url("./fonts/Flame-Bold.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Flame' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}